<p-card class="mt-5 flex flex-column align-items-center justify-content-center extra-padding" header="Make an appointment">

<h3>Date</h3>
<p-calendar [(ngModel)]="appointment.date" ></p-calendar>
<h3>Time</h3>
<p-calendar [(ngModel)]="appointment.date" [timeOnly]="true" [hourFormat]="String(12)"></p-calendar>
<h3>Name</h3>
<input type="text" pInputText [(ngModel)]="appointment.name"/>
<h3>Phone Number</h3>
<input type="text" pInputText [(ngModel)]="appointment.phoneNumber"/>
</p-card>

<h2>My Appointments</h2>
<ul>
  <li *ngFor="let appointment of appointmentList">
    <button type="button">
      <span >{{appointment.id}}</span>
      <span >{{appointment.name}}</span>
      <span >{{appointment.date}}</span>
      <span >{{appointment.phoneNumber}}</span>
    </button>
  </li>
</ul>
